/*STYLES*/


.index {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-light {
    background-color:transparent !important;
}

.bg-secondary {
    background-color: rgba(255,255,255,0.5) !important;
    margin-top:10%;
    margin-bottom:10%;
    border-radius:5px;
}


.navbar-collapse {
    top:20px;
    background:transparent;
    width:100%;
    height:100px;
    padding-bottom:3%;
    padding: 0rem !important;
}

.dropdown-menu {
    opacity: 0.9;
    position:absolute !important;
}

.maps iframe {
    width:100%;
    height:100%;
    box-shadow: 1px 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-top:4.5%;
}

.container h3{
    text-align:center;
    opacity:0%;
    padding-left:15%;
}

body {
    color:#24282C;
    font-size:80%;
}


hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top:10%;
}

.footer {
    text-align:center !important;
    color:#24282C;
}

dd {
    color:#24282C !important;
}

dt {
    color:#24282C !important;
    font-weight:600 !important;
}

.card-img-top {
    width:35% !important;
    margin-left:33%;
    margin-top:5%;
}

.card-deck {
    opacity: 0.8;
}

.card-title {
    text-align:center;
}

.card-text {
    text-align:center;
    font-size:0.8rem;
}

.titulocarousel {
    text-align:left;
    color:#24282C;
    margin-top:5%;
    margin-bottom:2%;
}

.container-fluid {
    margin-bottom:1%;
}

.marcas {
    margin-top:10%;
    margin-bottom:10%;
    margin-left: auto;
    margin-right: auto;
    opacity:0.5;
    border-radius:5px;
    width:70% !important;
}


.carousel-inner {
    border-radius: 5px;
    height:150% !important;
}

.border-light {
    background-color: rgba(255,255,255,0.5) !important;
    opacity:0.5;
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    margin-left:10%;
    margin-right:10%;
    margin-top:10%;
    }

.border-light dd dt {
    color:#24282C;
}

.navbar-toggler {
    margin-top:5%;
    margin-bottom:5%;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color:#000000;
}

.direccion {
    text-align:center !important;
}

.text-uppercase {
    margin-top:2% !important;
}

h5 {
    font-size:1.10rem;
    text-align: center !important;
}

.titulocarousel h5 {
    text-align:left !important;
}

h4 {
    text-align: center !important;
}

.card {
    margin-right:20px !important;
    margin-left:20px !important;
    border-radius:1.5%;
}

.card-footer {
    text-align:center !important;
    padding-top:0.1rem;
}

.text-muted {
    color:#000000 !important;
    font-weight: 600;
}




